/* APP BACKGROUND */

.stApp{
    margin:1px;
    padding-top:80px;

    background: linear-gradient(270deg,#9ea2a1,#d9d9d9,#797979,#c7cdcc);
    background-size:400% 400%;
    animation: gradient 12s ease infinite;

    font-family:'Poppins', sans-serif !important;
}

@keyframes gradient{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}


/* STREAMLIT CLEANUP */

[data-testid="stAppViewContainer"],
[data-testid="stMain"],
.block-container{
    background:transparent !important;
}

[data-testid="stSidebar"]{
    background:transparent !important;
}

.block-container{
    max-width:1600px;
    margin:auto;
    padding-top:40px;
}


/* HERO SECTION */

.hero{
    max-width:1500px;
    margin:auto;
    text-align:center;
    padding-top:40px;
}

.typewriter{

    font-size: clamp(50px, 6vw, 100px) !important;
    font-weight:700;

    max-width:max-content !important;
    margin:auto;

    white-space: nowrap !important;

    overflow:hidden;
    border-right:3px solid black;

    white-space:normal;

    display:inline-block;

    text-align:center;

    animation: blink 1s infinite;

    color:#4a537c;
}

.hero .typewriter{
    color: #454c72 !important;
    font-size:105px !important;
    margin-top:50px !important;
    margin-bottom:0 !important;
}

@keyframes typing{
    from{width:0}
    to{width:100%}
}

@keyframes blink{
    100%{border-color:transparent}
}

.hero-subtitle{
    font-size:70px !important;
    color:#444 !important;
    font-family:'Poppins', sans-serif !important;
    margin-top:10px !important;
    font-weight:700 !important;
}

.hero-description{

    font-size: clamp(20px, 1.4vw, 24px) !important;

    color:#3f4c74 !important;

    max-width:1300px !important;
    margin:auto !important;
    margin-top:20px !important;
}


/* NAV MENU */

.menu{

    position:fixed;
    top:20px;
    left:50%;
    transform:translateX(-50%);

    background:rgba(200,200,200,0.15);
    backdrop-filter:blur(10px);

    padding:15px 40px;
    border-radius:40px;

    display:flex;
    gap:40px;

    z-index:9999;
}

.menu a{
    color:#4f5d95;
    text-decoration:none;
    font-weight:500;
}

.menu a:hover{
    color:#1c2a6c;
}


/* SUBMENU */

.submenu{
    position:relative;
    margin-top:5px;
}

.submenu-items{

    display:none;

    position:absolute;
    top:50px;
    right:-230px;

    background:rgba(255,255,255,0.95);
    backdrop-filter:blur(10px);

    padding:10px;
    border-radius:12px;

    min-width:230px;
}

.submenu-item{

    display:flex;
    align-items:center;
    gap:10px;

    padding:8px 12px;
    border-radius:8px;

    transition:0.3s;
}

.submenu-item:hover{
    background:#f3f3f3;
}

.submenu-item img{
    width:35px;
}

.submenu-item a{
    text-decoration:none;
    font-size:18px;
}

.submenu:hover .submenu-items{
    display:block;
}

.contact-menu .submenu-items{
    min-width:250px;
}


/* FOOTER */

.footer{

    padding-top:10px;
    padding-bottom:20px;

    text-align:center;
    font-size:16px;
    font-weight:500;
    margin-top:10px;
    color:#444;


}

.footer:hover{
    background:#454c72;
    color:white;
}


/* SOCIAL ICONS */

.social-icons{

    display:flex;
    justify-content:center;

    gap:80px;

    margin-bottom:20px;
}

.social-icons img{

    width:40px;
    height:45px;

    transition:0.3s;
}

.social-icons img:hover{

    transform:scale(1.2);
    filter:invert(100%);
}


/* TEXT SELECTION */

::selection{
    background:#960505;
    color:white;
}
.footer h5{
    font-size:14px;
    font-weight:500;
    margin-top:10px;
}