/* =====================================================
APP BACKGROUND
===================================================== */
.stApp{
    margin:0px;
    padding-top:80px;
    background: linear-gradient(270deg,#9ea2a1,#d9d9d9,#797979,#c7cdcc);
    background-size:400% 400%;
    animation: gradient 12s ease infinite;
    font-family:'Poppins', sans-serif !important;
}

@keyframes gradient{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

h3{
    font-size:32px !important;
    color:#454c72 !important;
    font-weight:700 !important;
    letter-spacing:0.5px;
    align-items: center;
}
 
header {
    z-index: 0 !important;
}
/* =====================================================
STREAMLIT CLEANUP
===================================================== */
[data-testid="stAppViewContainer"],
[data-testid="stMain"],
.block-container{
    background:transparent !important;
}

[data-testid="stSidebar"]{
    background:transparent !important;
}

.block-container{
    max-width:1600px;
    margin:auto;
    padding-top:40px;
}

/* =====================================================
HEADER CLEAN
===================================================== */
header[data-testid="stHeader"],
div[data-testid="stToolbar"]{
    background: transparent !important;
}

[data-testid="stDecoration"]{
    display:none;
}

/* =====================================================
HERO
===================================================== */
.hero{
    max-width:1500px;
    margin:auto;
    text-align:center;
    padding-top:40px;
}

.hero .typewriter{
    font-size: clamp(70px, 9vw, 105px) !important;
    margin-top: 30px !important;
    white-space: normal;
    word-break: break-word;
    color:#3f4c74;
}

.hero-subtitle{
    font-size:70px !important;
    color:#444 !important;
    font-weight:700 !important;
}

.hero-description{
    font-size: clamp(20px, 1.4vw, 24px) !important;
    color:#3f4c74 !important;
    max-width:1300px !important;
    margin:auto !important;
    margin-top:20px !important;
}

/* =====================================================
NAV MENU
===================================================== */

.menu{
    position: fixed;

    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    display: flex;
    gap: 50px;

    padding: 1px 50px;

    border-radius: 40px;

    transition: 0.3s;

    z-index: 100000;
    white-space: nowrap;
}

.menu a{
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #454c72;
    padding: 10px 10px;
    line-height: 1; 
    border-radius: 20px;
    transition: 0.25s;
    height: 100%;
}

.menu a:not(.menu-link) {
    transform: translateY(7px);
}
.contact-menu .menu-link {
    transform: translateY(7px);
}



.menu a.active{
    background: rgba(116, 116, 116, 0.2);
    color: #454c72;
}
 
/* efecto hover */
 
.menu a:hover{
    background: rgba(96, 95, 95, 0.15);
}
 
 
 .menu a,
.submenu{
    display: flex;
    align-items: center;
    height: 100%;
}
 
.menu.transparent{
    background: transparent !important;
    backdrop-filter: none !important;
    box-shadow: none !important;
}
 
/* estado cuando haces scroll */
 
.menu.scrolled{
    background: transparent !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25) !important;
}
 


.submenu{
    position: relative;
    margin-top: 0px;
    padding-bottom: 0px;
}

.submenu-items{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;   /* 👈 en vez de right */
    margin-top: 0;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);

    padding: 10px;
    border-radius: 12px;

    min-width: 230px;
    transition: opacity 0.4s ease;
}

.submenu-item a{
    text-decoration:none;
    font-size:10px;
}

.submenu-item{
    display:flex;
    align-items:left;
    gap:10px;


    padding:8px 12px;
    border-radius:8px;

    transition:0.4s;
}


.submenu-item img{
    width:23%;
    height:1%;;
}


.contact-menu .submenu-items{
    background:  rgba(255, 255, 255, 0.95);
    min-width:250px;
}

/* mostrar submenu */

.submenu:hover .submenu-items{
    display: block;
}

/* =====================================================
LABELS
===================================================== */
label,
[data-testid="stWidgetLabel"]{
    color:#454c72 !important;
    font-weight:600 !important;
}

/* =====================================================
PLOTLY
===================================================== */
[data-testid="stPlotlyChart"] {
    background: rgba(255,255,255,0.3) !important;
    border-radius: 40px !important;
}
[data-testid= "stPlotlyChart"] :hover{
    background: rgba(28, 27, 27, 0.5) !important;
    border-radius: 40px !important}


[data-testid="stPlotlyChart"] > div,
.js-plotly-plot,
.plotly,
.plot-container,
.svg-container {
    background: transparent !important;
}


/* HEADER DE TABLA */
thead tr th {
    color: white !important;
    font-weight: 600 !important;
}

/* =====================================================
METRICS
===================================================== */
[data-testid="stMetric"]{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:25px;
    border-radius:20px;
}

[data-testid="stMetric"]:hover{
    background: rgba(255,255,255,0.35);
    transform: translateY(-5px);
}

/* =====================================================
SELECTBOX
===================================================== */
div[data-baseweb="select"] > div{
    background: white!important;
    border: 2px solid rgba(69,76,114,0.3) !important;
    border-radius: 40px !important;
}

div[data-baseweb="select"]:hover > div{
    border: 2px solid #454c72 !important;
}

div[data-baseweb="select"] span{
    color:#454c72 !important;
}

/* dropdown */
ul[role="listbox"]{
    background: white !important;
    border-radius: 12px !important;
}
li[role="option"]{
    background: white !important;
    color:#454c72 !important;
}

li[role="option"]:hover{
    background: #454c72 !important;
    color:white !important;
}

/* =====================================================
INPUTS
===================================================== */
input{
    border: none !important;
    background: white !important;
    box-shadow: none !important;
}

div[data-baseweb="input"]{
    border-radius: 40px !important;
    border: 2px solid transparent !important;
    background: white !important;
    overflow: hidden !important;
}

div[data-baseweb="input"]:hover{
    border: 4px solid #454c72 !important;
}

/* =====================================================
NUMBER INPUT
===================================================== */
div[data-testid="stNumberInput"] > div{
    border-radius: 40px !important;
    background: #454c72 !important;
    overflow: hidden !important;
}

div[data-testid="stNumberInput"] input{
    background: transparent !important;
    border: none !important;
}

div[data-testid="stNumberInput"] button{
    background: transparent !important;
    border: none !important;
}

div[data-testid="stNumberInput"] button:hover{
    background: #454c72 !important;
    color: #ffffff !important;
}

/* COLOR DE LOS ICONOS + - */
div[data-testid="stNumberInput"] button svg{
    fill: #ffffff !important;
}
/* =====================================================
SLIDER
===================================================== */
[data-baseweb="slider"] [role="slider"]{
    background-color: #b1004a !important;
}

[data-baseweb="slider"] div[aria-valuenow]{
    background: #a40000 !important;
}

[data-baseweb="slider"] > div > div > div{
    background: #444 !important;
}

/* =====================================================
BUTTON
===================================================== */
div[data-testid="stButton"] > button{
    background-color: #454c72 !important;
    color: white !important;
    border-radius: 12px !important;
    border: none !important;
}

div[data-testid="stButton"] > button:hover{
    background-color: #ffffff !important;
    color: #454c72 !important;
    transform: translateY(-2px);
}




/* =====================================================
DATAFRAME
===================================================== */

/* DATAFRAME HEADER */
[data-testid="stDataFrame"] thead tr th,
[data-testid="stDataFrame"] .dvn-scroller .header-cell,
.glideDataEditor .headerRow,
[class*="headerRow"],
[class*="gdg-header"] {
    background: rgba(255,255,255,0.9) !important;
    color: #ffffff !important;
    font-weight: 600 !important;
}

/* DATAFRAME GENERAL */
[data-testid="stDataFrame"] {
    background: rgba(255,255,255,0.6) !important;
    border-radius: 12px !important;
}

[data-testid="stDataFrame"] canvas {
    border-radius: 12px !important;
}

/* =====================================================
FOOTER
===================================================== */

.footer{
 
    padding-top:10px;
    padding-bottom:20px;
 
    text-align:center;
    font-size:16px;
    font-weight:500;
    margin-top:10px;
    color:#444;
 
 
}
 
.footer:hover{
    background:#454c72;
    color:white;
}
 
.footer h5{
    font-size:14px;
    font-weight:500;
    margin-top:10px;
}
 
/* SOCIAL ICONS */
 
.social-icons{
 
    display:flex;
    justify-content:center;
 
    gap:80px;
 
    margin-bottom:20px;
}
 
.social-icons img{
 
    width:40px;
    height:45px;
 
    transition:0.3s;
}
 
.social-icons img:hover{
 
    transform:scale(1.2);
    filter:invert(100%);
}
 
 
/* TEXT SELECTION */
 
::selection{
    background:#960505;
    color:white;
}